name: ci

on:
  workflow_dispatch:
  pull_request:
  workflow_call:

env:
  GIT_USER: "github-actions[bot]"
  GIT_EMAIL: "41898282+github-actions[bot]@users.noreply.github.com"
  RUST_BACKTRACE: 1
  CARGO_INCREMENTAL: 0

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: "Test building"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Run NPM install
        run: |
          cd site
          npm install

      - name: Lint site
        run: |
          cd site
          npm run lint

      - name: Test building site
        run: |
          cd site
          npm run build

      - name: Set up Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Enable Rust cache
        uses: Swatinem/rust-cache@v2.2.0
        with:
          workspaces: "server"

      - name: Run cargo fmt
        run: |
          cd server
          cargo fmt --all -- --check

      - name: Test building server
        run: |
          cd server
          ./setup.sh
          cargo build
